{% extends 'base.html.twig' %}

{% block title %}Imagen index
{% endblock %}

{% block principal %}
	<h1>Imagen index</h1>

	<form action="{{ path('app_imagen_index_busqueda') }}" method="post">
		<label>Búsqueda:</label>
		<input type="text" name="busqueda" id="busqueda" value="{{ busqueda | default('') }}">
		<input type="date" name="fechaInicial" id="fechaInicial" value="{{ fechaInicial | default('') }}">
 		<input type="date" name="fechaFinal" id="fechaFinal" value="{{ fechaFinal | default('') }}">
		<input type="submit" value="Buscar">
	</form>

	{% for message in app.flashes('mensaje') %}
 		<div class="alert alert-primary" role="alert">
 			{{ message }}
 		</div>
 	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'id'}) }}">Id</a>
				</th>
				<th>Imagen</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'descripcion'}) }}">Descripcion</a>
				</th>
				<th>
					<a href="{{ path("app_imagen_index_ordenado", {ordenacion: 'categoria'}) }}">Categoria</a>
				</th>
				<th>NumVisualizaviones</th>
				<th>NumLike</th>
				<th>NumDownload</th>
				<th>Fecha</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for imagen in imagens %}
				<tr>
					<td>{{ imagen.id }}</td>
					<td><img src="{{ asset(imagen.getUrlSubidas()) }}" alt="{{ imagen.nombre }}" width="100px"></td>
					<td>{{ imagen.descripcion }}</td>
					<td>{{ imagen.categoria }}</td>
					<td>{{ imagen.numVisualizaviones }}</td>
					<td>{{ imagen.numLike }}</td>
					<td>{{ imagen.numDownload }}</td>
					<td>{{ imagen.fecha | date('d/m/Y') }}</td>
					<td>
						<a href="{{ path('app_imagen_show', {'id': imagen.id}) }}">show</a>
						<a href="{{ path('app_imagen_edit', {'id': imagen.id}) }}">edit</a>
						<a href="{{ path('app_imagen_delete_json', {'id': imagen.id}) }}" class="delete">borrar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_imagen_new') }}">Create new</a>
{% endblock %}
