{{ form_start(form) }}
    {{ form_row(form.nombre ,{'label':'Nombre:'})  }}
    {{ form_row(form.logo ,{'label':'Logo:'}) }}
    {{ form_row(form.descripcion ,{'label':'Descripcion:'}) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
