{% extends 'base.html.twig' %}

{% block title %}Asociado{% endblock %}

{% block body %}
    <h1>Asociado</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asociado.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ asociado.nombre }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ asociado.logo }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ asociado.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_asociado_index') }}">back to list</a>

    <a href="{{ path('app_asociado_edit', {'id': asociado.id}) }}">edit</a>

    {{ include('asociado/_delete_form.html.twig') }}
{% endblock %}
